# Pastas Inúteis / Pesadas para o Repositório
venv/
__pycache__/
.env
.pytest_cache/

# Dados Brutos ou Pesados (Não subir pro GitHub!!)
microdados_enem_*/
ES-2023/
*.pdf
*.xlsx
*.ods

# (Opcional) Podemos ignorar os arquivos de extração originais, mas é bom commitar o código
# Só suba o dados_compilados.csv que tem os 10KB prontinhos pro app!
municipios-educacao.csv
excel_cols.txt
siope_text.txt
instruções*
